beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
coverage==5.4
deprecation==2.1.0
et-xmlfile==1.0.1
eyed3==0.9.6
filetype==1.0.7
gitdb==4.0.5
GitPython==3.1.13
idna==3.3
ilock==1.0.3
jdcal==1.4.1
openpyxl==3.0.6
packaging==20.9
portalocker==2.3.0
pydub==0.24.1
pyparsing==2.4.7
requests==2.26.0
smmap==3.0.5
soupsieve==2.3.1
termcolor==1.1.0
toml==0.10.2
urllib3==1.26.7
